name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: samar12-rad

          template: classic
          base: header, activity, repositories

          plugin_languages: yes
          plugin_languages_limit: 10

          plugin_activity: yes
          plugin_activity_limit: 5

          plugin_repositories: yes
          plugin_repositories_featured: peer-connect
          plugin_repositories_pinned: perfolyze

          config_timezone: Asia/Kolkata

          filename: metrics.svg
